astroid
certifi
chardet    
click      
colorama    
comtypes    
firebase    
gTTS        
idna         
isort       
lazy-object-proxy     
mccabe                
pip                  
PyAudio              
pylint                
pypiwin32               
pyttsx3                
pywin32                 
requests             
setuptools           
six                  
SpeechRecognition     
toml                 
urllib3              
wrapt             